@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

.container{
    width:100%;
    display: grid;
    grid-template-rows: 35vh 10vh 25vh 10vh 20vh;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: stretch;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
}

.container > *{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container > h1, .container > h2 {
    color: white;
    margin:0px;
}
.container > h1 {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 1;

    background-color: rgb(136, 45, 158);
    font-size: 4em;
}

.container > h2 {
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: rgb(67, 67, 67);
    font-size: 3em;
}

.question {
    grid-row-start: 2;
    grid-row-end: 2;
}

.scoreTitle {
    grid-row-start: 4;
    grid-row-end: 4;
}

.additionalDetails, .mainAnswers{
    grid-row-start: 3;
    grid-row-end: 3;

    flex-direction: column;
}

.additionalDetails{
    grid-column-start: 3;
    grid-column-end: 4;
}

.mainAnswers{
    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 2em;
}

.score{
    flex-direction: column;
    font-size: 1.5em;

}

.score, .additionalDetails, .mainAnswers{
    background-color: white;
    place-self: center;
    padding: 10px;
    border-radius: 25px;
}

.score > .name{
    font-weight: bold;
}
